<!DOCTYPE html>
<html>

<head>
    <title>Course Dashboard</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assests/css/DeleteCourse.css">
    <script src="/assests/js/DeleteCourse.js">
       
    </script>
</head>

<body>
    <div class="banner">
        <div class="center" id="bannerImage">
            <img src="/assests/img/thumnail_search-course.png" alt="Banner Image">
        </div>
    </div>

    <div class="container">
        <div class="content mt-0">
            <div class="filters">
                <div class="categories">
                    <button class="btn">
                        All courses
                    </button>
                    <button class="btn">
                        Business
                    </button>
                    <button class="btn">
                        IT &amp; Software
                    </button>
                    <button class="btn">
                        Design
                    </button>
                    <button class="btn">
                        Health
                    </button>
                    <button class="btn">
                        Math and Logic
                    </button>
                </div>
                <div class="search mt-1">
                    <input class="form-control" placeholder="Search..." type="text" />
                    <button class="btn btn-success mt-2">
                        Add Course
                    </button>
                </div>
            </div>
            <div class="courses mt-4">

                <div class="course-card">
                    
                        <button class="remove">
                            <i class="fas fa-times"></i>
                        </button>
                        <a href="#">
                        <img alt="Course Image" src="/assests/img/course.png" />
                        <div class="title">
                            C# Programming Full Course
                        </div>
                        <div class="rating">
                            <span class="stars" data-rating="5"></span>
                        </div>
                        <div class="author">
                            Created by Phuc Nguyen
                        </div>
                        <button class="edit">
                            <i class="fas fa-edit"></i> Edit
                        </button>
                    </a>
                </div>

                <div class="course-card">
                    
                        <button class="remove">
                            <i class="fas fa-times"></i>
                        </button>
                        <a href="#">
                        <img alt="Course Image" src="/assests/img/course.png" />
                        <div class="title">
                            C# Programming Full Course
                        </div>
                        <div class="rating">
                            <span class="stars" data-rating="5"></span>
                        </div>
                        <div class="author">
                            Created by Phuc Nguyen
                        </div>
                        <button class="edit">
                            <i class="fas fa-edit"></i> Edit
                        </button>
                    </a>
                </div>


                <div class="course-card">
                    
                        <button class="remove">
                            <i class="fas fa-times"></i>
                        </button>
                        <a href="#">
                        <img alt="Course Image" src="/assests/img/course.png" />
                        <div class="title">
                            C# Programming Full Course
                        </div>
                        <div class="rating">
                            <span class="stars" data-rating="5"></span>
                        </div>
                        <div class="author">
                            Created by Phuc Nguyen
                        </div>
                        <button class="edit">
                            <i class="fas fa-edit"></i> Edit
                        </button>
                    </a>
                </div>


                <div class="course-card">
                    
                        <button class="remove">
                            <i class="fas fa-times"></i>
                        </button>
                     <a href="#">   
                        <img alt="Course Image" src="/assests/img/course.png" />
                        <div class="title">
                            C# Programming Full Course
                        </div>
                        <div class="rating">
                            <span class="stars" data-rating="5"></span>
                        </div>
                        <div class="author">
                            Created by Phuc Nguyen
                        </div>
                        <button class="edit">
                            <i class="fas fa-edit"></i> Edit
                        </button>
                    </a>
                </div>

                <div class="course-card">
                   
                        <button class="remove">
                            <i class="fas fa-times"></i>
                        </button>
                      <a href="#">   
                        <img alt="Course Image" src="/assests/img/course.png" />
                        <div class="title">
                            C# Programming Full Course
                        </div>
                        <div class="rating">
                            <span class="stars" data-rating="5"></span>
                        </div>
                        <div class="author">
                            Created by Phuc Nguyen
                        </div>
                        <button class="edit">
                            <i class="fas fa-edit"></i> Edit
                        </button>
                    </a>
                </div>


                <div class="course-card">
                   
                        <button class="remove">
                            <i class="fas fa-times"></i>
                        </button>
                     <a href="#">    
                        <img alt="Course Image" src="/assests/img/course.png" />
                        <div class="title">
                            C# Programming Full Course
                        </div>
                        <div class="rating">
                            <span class="stars" data-rating="5"></span>
                        </div>
                        <div class="author">
                            Created by Phuc Nguyen
                        </div>
                        <button class="edit">
                            <i class="fas fa-edit"></i> Edit
                        </button>
                    </a>
                </div>


                <div class="course-card">
                  
                        <button class="remove">
                            <i class="fas fa-times"></i>
                        </button>
                      <a href="#">    
                        <img alt="Course Image" src="/assests/img/course.png" />
                        <div class="title">
                            C# Programming Full Course
                        </div>
                        <div class="rating">
                            <span class="stars" data-rating="5"></span>
                        </div>
                        <div class="author">
                            Created by Phuc Nguyen
                        </div>
                        <button class="edit">
                            <i class="fas fa-edit"></i> Edit
                        </button>
                    </a>
                </div>

                <div class="course-card">
                   
                        <button class="remove">
                            <i class="fas fa-times"></i>
                        </button>
                     <a href="#">    
                        <img alt="Course Image" src="/assests/img/course.png" />
                        <div class="title">
                            C# Programming Full Course
                        </div>
                        <div class="rating">
                            <span class="stars" data-rating="5"></span>
                        </div>
                        <div class="author">
                            Created by Phuc Nguyen
                        </div>
                        <button class="edit">
                            <i class="fas fa-edit"></i> Edit
                        </button>
                    </a>
                </div>


            </div>
        </div>
    </div>
</body>

</html>